
.card{
    margin-top:150px;
    margin-left:250px;
    width:500px;
}
.col-md-8{
    padding-right: 5px;
    padding-left: 5px;
}
#card-bottom{
    margin-top:15px;
}
#bot{
    display: inline-block;
}

